html{
	width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
	font-family: 'Raleway', sans-serif;
}
      body{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
		background:url('../images/Homepage/AlanRysisLogobg.png');
		background-size:cover;
		background-position:fixed;
      }

	  /* particles */
	.large-header {
		position: absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
		width: 100%;
		overflow: hidden;
		background-size: cover;
		background-position: center center;
		z-index: -10;
	}
	.mainContent{
		width:100%;
		max-width:972px;
		padding:5% 100px 0 100px;
		margin:auto;
		/*background-color:rgba(255,255,255,0.8);*/
	}
	
	.mainContent img{
		width:100%;
		height:auto;
		padding:0;
		margin-top: 10%;
	}

/* Artigo 3 Tab Styles */

.article-cs-tab{
	width:890px;
	min-width:320px;
	height:auto;
	margin:auto;
	border:0;
	border-collapse:collapse;
	text-align:left;
	background-color:transparent;
	font-family: 'Raleway', sans-serif;
	overflow:hidden;
	padding:0 15px 30px 15px;
	color:#464C54;
}

.article-cs-tab .mainArticleTitle{
	overflow:hidden;
	padding:40px 0 20px 0;
}

.article-cs-tab .mainArticleTitle h1{
	display:block;
	margin:0 0 10px 0;
	padding:0 0 0 50px;
	font-size:50px;
	line-height:45px;
	background:url(../images/News/newsLogo.png) no-repeat left center;
	background-size:35px 35px;
	font-weight:200;
}

.cs-tab{
	width:100%;
	height:auto;
	margin:0 0 30px 0;
	border:0;
	border-collapse:collapse;
	text-align:left;
	background-color:transparent;
	overflow:hidden;
}

.cs-tab .cs-tab-contentfigure{
	width:23.06%;
	height:0;
	border:0;
	border-collapse:collapse;
	display:block;
	margin:0 2.09% 0 0;
	padding-bottom:15.40%;
	float:left;
	overflow:hidden;
}

.cs-tab .cs-tab-contentfigure img{
	width:100%;
	border:1px #CCC solid;
}

.cs-tab .cs-tab-contentText{
	width:74.84%;
	border:0;
	border-collapse:collapse;
	margin:0 0 0 0;
	float:left;
}

.cs-tab .cs-tab-contentText h2{
	text-align:left;
	margin:0 0 0 0;
	line-height:25px;
	font-size:18px;
	font-weight:700;
}

.cs-tab .cs-tab-contentText p{
	text-align:left;
	margin:0 0 0 0;
	line-height:25px;
	font-size:18px;
}

.cs-tab .cs-tab-contentText p a{
	font-size:18px;
	padding:0;
	margin:0 0 0 0;
	text-decoration:none;
	color:#CC0001;
}

.cs-tab .cs-tab-contentText p a:hover{
	color:#000000;
}

.cs-tab .cs-tab-contentText p span{
	font-size:14px;
	padding:15px 0 0 0;
	display:inline-block;
	margin:0;
	color:#666666;
}

/* Media Queries */

@media (max-width:1024px){
	 .mainContent img{
		margin-top: 15%;
	}
	
	#demo-canvas{
		display:none;
	}
}

@media (max-width:908px){
	 .mainContent img{
		margin-top: 5%;
	}
	.article-cs-tab{
		width:100%;
	}
}

@media (max-width:800px){

}

@media (max-width:480px){
	.mainContent{
		padding:100px;
	}
	
	.cs-tab .cs-tab-contentfigure{
		display:none;
	}

	.cs-tab .cs-tab-contentText{
		width:100%;
	}
}

/*End Navigation Bar Styles*/